.noticeUL {
	padding: 0;
}

.noticeLI {
	background:white;
	list-style-type: none;
	border-radius: 6px;
	border: 1px solid #AEAEAE;
	margin-top: 16px;
	position: relative;
}

.noticeCard {
	margin: 13px;
}

.noticeTitle {
	line-height: 22px;
	font-size: 16px;
	font-weight: normal;
	color: #1A1A1A;
}

.noticeContent {
	height: 27px;
	line-height: 27px;
	margin-top: 10px;
}

.green_button {
	display: block;
	background: green;
	color: white;
	height: 21px;
	line-height: 21px;
	font-size: 14px;
	border-radius:30px;
	padding: 0 8px;
	float: left;
	max-width: 180px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.gray_time {
	display: block;
	height: 21px;
	line-height: 21px;
	font-size: 14px;
	color: #a7a5a5;	
	float: left;
	margin-top: 4px;
	margin-left: 5px;
}
